---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: hivemq-file-rbac-credentials
  namespace: hivemq
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: hivemq-file-rbac-credentials
    template:
      engineVersion: v2
      type: Opaque
      data:
        credentials.xml: |-
          <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
          <file-rbac>
            <users>
              <user>
                <name>hass</name>
                <password>{{ .HASS_PWD }}</password>
                <roles>
                  <id>superuser</id>
                </roles>
              </user>
              <user>
                <name>zwave</name>
                <password>{{ .ZWAVE_PWD }}</password>
                <roles>
                  <id>zwave</id>
                </roles>
              </user>
              <user>
                <name>venstar</name>
                <password>{{ .VENSTAR_PWD }}</password>
                <roles>
                  <id>venstar</id>
                </roles>
              </user>
              <user>
                <name>raspi</name>
                <password>{{ .RASPI_PWD }}</password>
                <roles>
                  <id>raspi</id>
                </roles>
              </user>
              <user>
                <name>sei12</name>
                <password>{{ .SEI12_PWD }}</password>
                <roles>
                  <id>sei12</id>
                </roles>
              </user>
              <user>
                <name>nas</name>
                <password>{{ .NAS_PWD }}</password>
                <roles>
                  <id>nas</id>
                </roles>
              </user>
              <user>
                <name>mikrotik</name>
                <password>{{ .MIKROTIK_PWD }}</password>
                <roles>
                  <id>mikrotik</id>
                </roles>
              </user>
              <user>
                <name>read</name>
                <password>{{ .READ_PWD }}</password>
                <roles>
                  <id>read-only</id>
                </roles>
              </user>
            </users>
            <roles>
              <role>
                <id>superuser</id>
                <permissions>
                  <permission>
                    <topic>#</topic>
                  </permission>
                </permissions>
              </role>
              <role>
                <id>zwave</id>
                <permissions>
                  <permission>
                    <topic>home/nodes/zwave/#</topic>
                  </permission>
                  <permission>
                    <topic>homeassistant/#</topic>
                  </permission>
                </permissions>
              </role>
              <role>
                <id>venstar</id>
                <permissions>
                  <permission>
                    <topic>home/nodes/venstar/#</topic>
                  </permission>
                  <permission>
                    <topic>/status/mqtt_venstar_bridge</topic>
                  </permission>
                </permissions>
              </role>
              <role>
                <id>raspi</id>
                <permissions>
                  <permission>
                    <topic>home/nodes/#</topic>
                  </permission>
                  <permission>
                    <topic>homeassistant/#</topic>
                  </permission>
                </permissions>
              </role>
              <role>
                <id>sei12</id>
                <permissions>
                  <permission>
                    <topic>linux/sei12/#</topic>
                  </permission>
                  <permission>
                    <topic>homeassistant/sensor/linux/#</topic>
                  </permission>
                </permissions>
              </role>
              <role>
                <id>nas</id>
                <permissions>
                  <permission>
                    <topic>linux/nas/#</topic>
                  </permission>
                  <permission>
                    <topic>homeassistant/sensor/linux/#</topic>
                  </permission>
                </permissions>
              </role>
              <role>
                <id>mikrotik</id>
                <permissions>
                  <permission>
                    <topic>home/nodes/mikrotik/#</topic>
                  </permission>
                  <permission>
                    <topic>homeassistant/sensor/#</topic>
                  </permission>
                </permissions>
              </role>
              <role>
                <id>read-only</id>
                <permissions>
                  <permission>
                    <topic>#</topic>
                    <activity>SUBSCRIBE</activity>
                  </permission>
                </permissions>
              </role>
            </roles>
          </file-rbac>
  dataFrom:
    - extract:
        key: hivemq
