apiVersion: apps/v1
kind: Deployment
metadata:
  name: codeserver
  namespace: hass
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: codeserver
  template:
    metadata:
      labels:
        app: codeserver
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
        fsGroupChangePolicy: "OnRootMismatch"
        seccompProfile:
          type: RuntimeDefault
      containers:
      - name: codeserver
        image: ghcr.io/coder/code-server:4.103.1@sha256:fc1d8a57dc5ca5fab67999416165d994ab78a7338b046c4b29f168033a6b7b38
        env:
          - name: TZ
            value: America/Chicago
          - name: HOME
            value: /home/coder
          - name: DEFAULT_WORKSPACE
            value: /home
          - name: SHELL
            value: "/bin/bash"
          - name: PASSWORD
            valueFrom:
              secretKeyRef:
                name: zwave
                key: pass
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        volumeMounts:
        - name: codeserver
          mountPath: /home/coder
          subPath: config
        - name: codeserver
          mountPath: /home/source-repos
          subPath: repos
        - name: tmp
          mountPath: /tmp
        - name: appdaemon-data
          mountPath: /home/appdaemon-data
          subPath: conf
        - name: hass-data
          mountPath: /home/hass-data
        - name: zwave-data
          mountPath: /home/zwave-data
        resources:
          requests:
            memory: 1Gi
            cpu: "20m"
          limits:
            memory: 1Gi
        livenessProbe: &probe
          httpGet:
            path: /healthz
            port: http
          initialDelaySeconds: 10
        readinessProbe: *probe
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop: ["ALL"]
      volumes:
      - name: codeserver
        persistentVolumeClaim:
          claimName: codeserver-pvc
      - name: appdaemon-data
        persistentVolumeClaim:
          claimName: appdaemon-pvc
      - name: hass-data
        persistentVolumeClaim:
          claimName: hass-pvc
      - name: zwave-data
        persistentVolumeClaim:
          claimName: zwave-pvc
      - name: tmp
        emptyDir: {}
