topologySpreadConstraints:
  - maxSkew: 1
    topologyKey: kubernetes.io/hostname
    whenUnsatisfiable: DoNotSchedule
    labelSelector:
      matchLabels:
        app.kubernetes.io/name: external-secrets
replicaCount: 1
leaderElect: false
serviceMonitor:
  enabled: false
grafanaDashboard:
  enabled: true
