---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1 
kind: Kustomization
resources:
  - manifests/externalsecret.yaml
  - manifests/httproute.yaml
helmCharts:
  - name: vernemq
    repo: https://vernemq.github.io/docker-vernemq
    version: 2.1.2
    releaseName: vernemq
    namespace: hass
    valuesFile: manifests/values.yaml
patches:
  - target:
      group: apps
      version: v1
      kind: StatefulSet
      name: vernemq
    path: manifests/patch.yaml
