---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1 
kind: Kustomization
resources:
  - manifests/externalsecret.yaml
  - manifests/httproute.yaml
  - manifests/tcproute.yaml
  - manifests/netpol.yaml
configMapGenerator:
  - name: vernemq-config
    namespace: hass
    envs:
      - manifests/vernemq.env
    options:
      disableNameSuffixHash: true
helmCharts:
  - name: vernemq
    repo: https://vernemq.github.io/docker-vernemq
    version: 2.1.1
    releaseName: vernemq
    namespace: hass
    valuesFile: manifests/values.yaml
patches:
  - target:
      group: apps
      version: v1
      kind: StatefulSet
      name: vernemq
    patch: |-
      - op: add
        path: /spec/template/spec/topologySpreadConstraints
        value:
          - maxSkew: 1
            topologyKey: kubernetes.io/hostname
            whenUnsatisfiable: DoNotSchedule
            labelSelector:
              matchLabels:
                app.kubernetes.io/name: vernemq
  - target:
      version: v1
      kind: Service
      name: vernemq
    patch: |-
      - op: add
        path: /spec/ports/-
        value:
          name: mqtt-proxy
          port: 8883
          protocol: TCP
          targetPort: 8883
