---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: adguard-secret
  namespace: adguard
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: adguard-secret
    template:
      engineVersion: v2
      data:
        AdGuardHome.yaml: |
          http:
            pprof:
              port: 6060
              enabled: false
            address: 0.0.0.0:80
            session_ttl: 720h
          users:
            - name: {{ .ADMIN_USER }}
              password: {{ .ADMIN_PASSWORD_HASH }}
          auth_attempts: 5
          block_auth_min: 15
          http_proxy: ""
          language: en
          theme: dark
          dns:
            bind_hosts:
              - 0.0.0.0
            port: 53
            anonymize_client_ip: false
            ratelimit: 0
            ratelimit_subnet_len_ipv4: 24
            ratelimit_subnet_len_ipv6: 56
            ratelimit_whitelist: []
            refuse_any: true
            upstream_dns:
              - tls://9.9.9.9
              - tls://1.1.1.1
            upstream_dns_file: ""
            bootstrap_dns:
              - 1.1.1.1
              - 9.9.9.9
              - 8.8.8.8
            fallback_dns:
              - 1.1.1.1
              - 9.9.9.9
              - 8.8.8.8
            upstream_mode: load_balance
            fastest_timeout: 1s
            allowed_clients: []
            disallowed_clients: []
            blocked_hosts:
              - version.bind
              - id.server
              - hostname.bind
            trusted_proxies:
              - 127.0.0.0/8
              - ::1/128
            cache_enabled: true
            cache_size: 16777216
            cache_ttl_min: 0
            cache_ttl_max: 0
            cache_optimistic: false
            bogus_nxdomain: []
            aaaa_disabled: false
            enable_dnssec: true
            edns_client_subnet:
              custom_ip: ""
              enabled: false
              use_custom: false
            max_goroutines: 300
            handle_ddr: true
            ipset: []
            ipset_file: ""
            bootstrap_prefer_ipv6: false
            upstream_timeout: 10s
            private_networks: []
            use_private_ptr_resolvers: false
            local_ptr_upstreams: []
            use_dns64: false
            dns64_prefixes: []
            serve_http3: false
            use_http3_upstreams: false
            serve_plain_dns: true
            hostsfile_enabled: true
            pending_requests:
              enabled: true
          tls:
            enabled: false
            server_name: ""
            force_https: true
            port_https: 443
            port_dns_over_tls: 853
            port_dns_over_quic: 784
            port_dnscrypt: 0
            dnscrypt_config_file: ""
            allow_unencrypted_doh: false
            certificate_chain: ""
            private_key: ""
            certificate_path: ""
            private_key_path: ""
            strict_sni_check: false
          querylog:
            dir_path: ""
            ignored:
              - localhost
            interval: 24h
            size_memory: 5
            enabled: true
            file_enabled: true
          statistics:
            dir_path: ""
            ignored:
              - localhost
            interval: 168h
            enabled: false
          filters:
            - enabled: true
              url: https://big.oisd.nl
              name: OISD
              id: 1
            - enabled: true
              url: https://nsfw.oisd.nl
              name: OISD NSFW
              id: 2
            - enabled: true
              url: https://adguardteam.github.io/HostlistsRegistry/assets/filter_52.txt
              name: HaGeZi's Encrypted DNS/VPN/TOR/Proxy Bypass
              id: 3
            - enabled: true
              url: https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/nosafesearch.txt
              name: HaGeZi's Safesearch not supported
              id: 4
            - enabled: true
              url: https://adguardteam.github.io/HostlistsRegistry/assets/filter_44.txt
              name: HaGeZi's Threat Intelligence Feeds
              id: 5
          whitelist_filters: []
          user_rules:
            {{- $root := . }}
            {{- range $i := untilStep 1 33 1 }}
            {{- $ruleName := printf "RULE%d" $i }}
            {{- if index $root $ruleName }}
            - '{{ index $root $ruleName }}'
            {{- end }}
            {{- end }}
          dhcp:
            enabled: false
            interface_name: ""
            local_domain_name: lan
            dhcpv4:
              gateway_ip: ""
              subnet_mask: ""
              range_start: ""
              range_end: ""
              lease_duration: 86400
              icmp_timeout_msec: 1000
              options: []
            dhcpv6:
              range_start: ""
              lease_duration: 86400
              ra_slaac_only: false
              ra_allow_slaac: false
          filtering:
            blocking_ipv4: ""
            blocking_ipv6: ""
            blocked_services:
              schedule:
                time_zone: UTC
              ids:
                - onlyfans
            protection_disabled_until: null
            safe_search:
              enabled: true
              bing: true
              duckduckgo: true
              ecosia: true
              google: true
              pixabay: true
              yandex: true
              youtube: false
            blocking_mode: default
            parental_block_host: family-block.dns.adguard.com
            safebrowsing_block_host: standard-block.dns.adguard.com
            rewrites: []
            safe_fs_patterns:
              - /opt/adguardhome/work/data/userfilters/*
            safebrowsing_cache_size: 1048576
            safesearch_cache_size: 1048576
            parental_cache_size: 1048576
            cache_time: 30
            filters_update_interval: 1
            blocked_response_ttl: 10
            filtering_enabled: true
            rewrites_enabled: true
            parental_enabled: false
            safebrowsing_enabled: false
            protection_enabled: true
          clients:
            runtime_sources:
              whois: true
              arp: true
              rdns: false
              dhcp: true
              hosts: true
            persistent: []
          log:
            enabled: true
            file: "/opt/adguardhome/work/data/querylog.json"
            max_backups: 0
            max_size: 100
            max_age: 3
            compress: false
            local_time: false
            verbose: false
          os:
            group: ""
            user: ""
            rlimit_nofile: 0
          schema_version: 31
  dataFrom:
    - extract:
        key: adguard
