---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1 
kind: Kustomization
namespace: external-secrets
components:
  - ../../components/namespace
resources:
  - manifests/clustersecretstore.yaml
  - manifests/namespace.yaml
helmCharts:
  - name: external-secrets
    repo: https://charts.external-secrets.io
    version: 1.3.2
    releaseName: external-secrets
    namespace: external-secrets
    valuesFile: manifests/values.yaml
  - name: connect
    repo: https://1password.github.io/connect-helm-charts
    version: 2.2.1
    releaseName: 1password-connect
    namespace: external-secrets
    valuesFile: manifests/values-op.yaml
