---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1 
kind: Kustomization
namespace: gravity
components:
  - ../../components/namespace
resources:
  - manifests/namespace.yaml
  - manifests/statefulset.yaml
  - manifests/service.yaml
  - manifests/httproute.yaml
  - manifests/etcdcluster.yaml
  - manifests/pdb.yaml
  - manifests/podmonitor.yaml
  - manifests/externalsecret.yaml
  - manifests/netpol.yaml
