---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1 
kind: Kustomization
namespace: cert-manager
components:
  - ../../components/namespace
resources:
  - manifests/clusterissuer.yaml
  - manifests/externalsecret.yaml
  - manifests/namespace.yaml
helmCharts:
  - name: cert-manager
    repo: https://charts.jetstack.io
    version: v1.19.2
    releaseName: cert-manager
    namespace: cert-manager
    valuesFile: manifests/values.yaml
