---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1 
kind: Kustomization
components:
  - ../../components/namespace
resources:
  - alertmanager
  - grafana
  - kromgo
  - prometheus
  - namespace.yaml
helmCharts:
  - name: kube-prometheus-stack
    repo: https://prometheus-community.github.io/helm-charts
    version: 81.4.3
    releaseName: kube-prometheus-stack
    namespace: monitoring
    valuesFile: values.yaml
patches:
  - target:
      kind: StatefulSet
      name: kube-prometheus-stack-grafana
    patch: |-
      - op: add
        path: /spec/volumeClaimTemplates/0/spec/dataSourceRef
        value:
          apiGroup: volsync.backube
          kind: ReplicationDestination
          name: grafana-bootstrap
