---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/gateway.networking.k8s.io/httproute_v1.json
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: unifi
  namespace: unifi
spec:
  parentRefs:
  - name: envoy-gateway
    namespace: default
  hostnames:
  - unifi.mgmt.sholdee.net
  rules:
  - backendRefs:
    - name: unifi-ui
      namespace: unifi
      port: 8443
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/gateway.networking.k8s.io/backendtlspolicy_v1.json
apiVersion: gateway.networking.k8s.io/v1
kind: BackendTLSPolicy
metadata:
  name: unifi-upstream
spec:
  targetRefs:
    - kind: Service
      name: unifi-ui
      group: ""
  validation:
    wellKnownCACertificates: System
    hostname: unifi.mgmt.sholdee.net
