---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/argoproj.io/application_v1alpha1.json
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cilium
  annotations:
    argocd.argoproj.io/compare-options: ServerSideDiff=true
spec:
  destination:
    name: in-cluster
    namespace: kube-system
  ignoreDifferences:
    - jsonPointers:
      - /data
      kind: Secret
      name: cilium-ca
    - jsonPointers:
      - /data
      kind: Secret
      name: hubble-ca-cert
    - jsonPointers:
      - /data
      kind: Secret
      name: hubble-relay-client-certs
    - jsonPointers:
      - /data
      kind: Secret
      name: hubble-server-certs
  project: k3s
  source:
    chart: cilium
    helm:
      releaseName: cilium
      valuesObject:
        cluster:
          name: k3s
          id: 7
        ipam:
          operator:
            clusterPoolIPv4PodCIDRList: "10.52.0.0/16"
        ipv4NativeRoutingCIDR: "10.52.0.0/16"
        k8sServiceHost: "127.0.0.1"
        k8sServicePort: "6444"
        routingMode: "native"
        autoDirectNodeRoutes: true
        kubeProxyReplacement: true
        bpf:
          masquerade: false
          datapathMode: "netkit"
        loadBalancer:
          algorithm: "maglev"
          mode: "dsr"
        enableIPv4Masquerade: false
        bgpControlPlane:
          enabled: true
        hubble:
          enabled: true
          relay:
            enabled: true
          ui:
            enabled: true
        installNoConntrackIptablesRules: true
        operator:
          replicas: 3
          prometheus:
            enabled: true
            serviceMonitor:
              enabled: true
          dashboards:
            enabled: true
        prometheus:
          enabled: true
          serviceMonitor:
            enabled: true
            trustCRDsExist: true
        dashboards:
          enabled: true
        gatewayAPI:
          enabled: true
          enableAlpn: true
    repoURL: https://helm.cilium.io/
    targetRevision: 1.18.4
  syncPolicy:
    automated:
      prune: true
    syncOptions:
    - ServerSideApply=true
    - RespectIgnoreDifferences=true
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/argoproj.io/application_v1alpha1.json
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: envoy-gateway
  annotations:
    argocd.argoproj.io/compare-options: ServerSideDiff=true
spec:
  destination:
    name: in-cluster
    namespace: envoy-gateway-system
  project: k3s
  source:
    chart: gateway-helm
    helm:
      valuesObject:
        podDisruptionBudget:
          minAvailable: 1
        deployment:
          replicas: 3
          pod:
            topologySpreadConstraints:
              - maxSkew: 1
                topologyKey: kubernetes.io/hostname
                whenUnsatisfiable: DoNotSchedule
                labelSelector:
                  matchLabels:
                    control-plane: envoy-gateway
    repoURL: docker.io/envoyproxy
    targetRevision: v1.5.4
  syncPolicy:
    automated:
      prune: true
    syncOptions:
    - ServerSideApply=true
    - CreateNamespace=true
    - ApplyOutOfSyncOnly=true
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/argoproj.io/application_v1alpha1.json
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: longhorn
spec:
  destination:
    name: in-cluster
    namespace: longhorn-system
  ignoreDifferences:
  - group: '*'
    kind: CustomResourceDefinition
    jsonPointers:
    - /spec/preserveUnknownFields
  project: k3s
  source:
    chart: longhorn
    helm:
      valuesObject:
        defaultSettings:
          defaultDataLocality: best-effort
          concurrentAutomaticEngineUpgradePerNodeLimit: "2"
          nodeDownPodDeletionPolicy: delete-both-statefulset-and-deployment-pod
          nodeDrainPolicy: block-for-eviction-if-contains-last-replica
          replicaAutoBalance: best-effort
          backupTarget: "nfs://10.2.0.110:/volume1/longhorn"
          backupTargetCredentialSecret: ""
          backupstorePollInterval: "3600"
          removeSnapshotsDuringFilesystemTrim: "true"
        metrics:
          serviceMonitor:
            enabled: "true"
        networkPolicies:
          enabled: false
          type: "k3s"
    repoURL: https://charts.longhorn.io
    targetRevision: 1.10.1
  syncPolicy:
    automated:
      prune: true
    syncOptions:
    - ApplyOutOfSyncOnly=true
    - CreateNamespace=true
    - RespectIgnoreDifferences=true
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/argoproj.io/application_v1alpha1.json
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mongodb-kubernetes-operator
spec:
  destination:
    name: in-cluster
    namespace: mongodb-operator
  project: k3s
  source:
    chart: mongodb-kubernetes
    helm:
      valuesObject:
        operator:
          replicas: 1
          watchNamespace: "unifi"
          resources:
            limits:
              memory: 100Mi
            requests:
              cpu: 20m
              memory: 100Mi
        namespace: unifi
        community:
          createResource: false
          resource:
            name: unifi-db
            tls:
              enabled: true
              useCertManager: true
    repoURL: https://mongodb.github.io/helm-charts
    targetRevision: 1.6.0
  syncPolicy:
    automated:
      prune: true
    syncOptions:
    - ApplyOutOfSyncOnly=true
    - CreateNamespace=true
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/argoproj.io/application_v1alpha1.json
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: reloader
spec:
  destination:
    name: in-cluster
    namespace: default
  project: k3s
  source:
    chart: reloader
    helm:
      valuesObject:
        fullnameOverride: reloader
        reloader:
          readOnlyRootFileSystem: true
          podMonitor:
            enabled: true
    repoURL: https://stakater.github.io/stakater-charts
    targetRevision: 2.2.5
  syncPolicy:
    automated:
      prune: true
    syncOptions:
    - ApplyOutOfSyncOnly=true
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/argoproj.io/application_v1alpha1.json
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: volsync
spec:
  destination:
    name: in-cluster
    namespace: volsync-system
  project: k3s
  source:
    chart: volsync
    helm:
      valuesObject:
        replicaCount: 2
        manageCRDs: true
        metrics:
          disableAuth: true
    repoURL: https://backube.github.io/helm-charts/
    targetRevision: 0.13.1
  syncPolicy:
    automated:
      prune: true
    syncOptions:
    - ApplyOutOfSyncOnly=true
    - CreateNamespace=true
