global:
  domain: argocd.sholdee.net
server:
  certificate:
    enabled: false
  certificateSecret:
    enabled: false
controller:
  affinity:
    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 1
          preference:
            matchExpressions:
              - key: node-role.kubernetes.io/control-plane
                operator: DoesNotExist
configs:
  cm:
    kustomize.buildOptions: --enable-helm
    resource.exclusions: |
     - apiGroups:
         - cilium.io
       kinds:
         - CiliumIdentity
       clusters:
         - "*"
    users.anonymous.enabled: "true"
  rbac:
    policy.default: 'role:readonly'
