global:
  domain: argocd.sholdee.net
server:
  certificate:
    enabled: true
    issuer:
      group: "cert-manager.io"
      kind: "ClusterIssuer"
      name: "cloudflare"
controller:
  affinity:
    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 1
          preference:
            matchExpressions:
              - key: node-role.kubernetes.io/control-plane
                operator: DoesNotExist
configs:
  cm:
    kustomize.buildOptions: --enable-helm
    resource.exclusions: |
     - apiGroups:
         - cilium.io
       kinds:
         - CiliumIdentity
       clusters:
         - "*"
    resource.customizations: |
      apps/StatefulSet:
        ignoreDifferences:
          - jqPathExpressions:
            - ".spec.volumeClaimTemplates[].metadata.creationTimestamp"
