---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1 
kind: Kustomization
resources:
  - manifests/deployment.yaml
  - manifests/service.yaml
  - manifests/httproute.yaml
  - manifests/netpol.yaml
configMapGenerator:
  - name: unifi-landing
    namespace: unifi
    files:
      - Caddyfile=manifests/Caddyfile
  - name: unifi-landing-static
    namespace: unifi
    files:
      - index.html=manifests/index.html
generatorOptions:
  disableNameSuffixHash: true
