---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: mongodb-operator
components:
  - ../../components/namespace
resources:
  - namespace.yaml
helmCharts:
  - name: mongodb-kubernetes
    repo: https://mongodb.github.io/helm-charts
    version: 1.6.0
    releaseName: mongodb-kubernetes-operator
    namespace: mongodb-operator
    valuesInline:
      operator:
        replicas: 1
        watchNamespace: "unifi"
        resources:
          limits:
            memory: 100Mi
          requests:
            cpu: 20m
            memory: 100Mi
      namespace: unifi
      community:
        createResource: false
        resource:
          name: unifi-db
          tls:
            enabled: true
            useCertManager: true
patches:
  - target:
      group: cert-manager.io
      version: v1
      kind: Certificate
      name: tls-selfsigned-ca
    patch: |
      - op: add
        path: /spec/duration
        value: 43800h
      - op: add
        path: /spec/renewBefore
        value: 720h
