---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1 
kind: Kustomization
resources:
  - https://raw.githubusercontent.com/kubernetes-csi/external-snapshotter/refs/tags/v8.5.0/client/config/crd/groupsnapshot.storage.k8s.io_volumegroupsnapshotclasses.yaml
  - https://raw.githubusercontent.com/kubernetes-csi/external-snapshotter/refs/tags/v8.5.0/client/config/crd/groupsnapshot.storage.k8s.io_volumegroupsnapshotcontents.yaml
  - https://raw.githubusercontent.com/kubernetes-csi/external-snapshotter/refs/tags/v8.5.0/client/config/crd/groupsnapshot.storage.k8s.io_volumegroupsnapshots.yaml
  - https://raw.githubusercontent.com/kubernetes-csi/external-snapshotter/refs/tags/v8.5.0/client/config/crd/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  - https://raw.githubusercontent.com/kubernetes-csi/external-snapshotter/refs/tags/v8.5.0/client/config/crd/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  - https://raw.githubusercontent.com/kubernetes-csi/external-snapshotter/refs/tags/v8.5.0/client/config/crd/snapshot.storage.k8s.io_volumesnapshots.yaml
  - csi-snapshotter.yaml
  - snapshot-controller.yaml
  - rbac-csi-snapshotter.yaml
  - rbac-external-provisioner.yaml
  - rbac-snapshot-controller.yaml
