---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1 
kind: Kustomization
namespace: velero
components:
  - ../../components/namespace
resources:
  - manifests/externalsecret.yaml
  - manifests/namespace.yaml
helmCharts:
  - name: velero
    repo: https://vmware-tanzu.github.io/helm-charts
    version: 11.1.1
    releaseName: velero
    namespace: velero
    valuesFile: manifests/values.yaml
