---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/mongodbcommunity.mongodb.com/mongodbcommunity_v1.json
apiVersion: mongodbcommunity.mongodb.com/v1
kind: MongoDBCommunity
metadata:
  name: unifi-db
spec:
  members: 3
  type: ReplicaSet
  version: "8.0.15"
  security:
    authentication:
      modes: ["SCRAM-SHA-1", "SCRAM-SHA-256"]
    tls:
      enabled: true
      optional: true
      caCertificateSecretRef:
        name: tls-ca-key-pair
      certificateKeySecretRef:
        name: tls-certificate
  users:
    - name: unifi
      db: unifi
      passwordSecretRef:
        name: unifi-db-password
      roles:
        - name: clusterAdmin
          db: unifi
        - name: userAdminAnyDatabase
          db: unifi
        - name: readWrite
          db: unifi
        - name: dbOwner
          db: unifi
        - name: readWrite
          db: unifi_stat
        - name: dbOwner
          db: unifi_stat
        - name: readWrite
          db: admin
        - name: dbOwner
          db: admin
        - name: clusterMonitor
          db: admin
      scramCredentialsSecretName: unifi-db-scram
      connectionStringSecretNamespace: unifi
  additionalMongodConfig:
    storage.wiredTiger.engineConfig.journalCompressor: zlib
  statefulSet:
    spec:
      template:
        spec:
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app: unifi-db-svc
      volumeClaimTemplates:
        - metadata:
            name: data-volume
          spec:
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 5Gi
            storageClassName: longhorn-mongo
        - metadata:
            name: logs-volume
          spec:
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 1Gi
            storageClassName: longhorn-mongo
