---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1 
kind: Kustomization
namespace: cnpg-system
components:
  - ../../components/namespace
resources:
  - https://github.com/cloudnative-pg/plugin-barman-cloud/releases/download/v0.10.0/manifest.yaml
  - namespace.yaml
  - clusterimagecatalog.yaml
helmCharts:
  - name: cloudnative-pg
    repo: https://cloudnative-pg.github.io/charts
    version: 0.27.0
    releaseName: cnpg-system
    namespace: cnpg-system
