---
# yaml-language-server: $schema=https://raw.githubusercontent.com/kubernetes-sigs/external-dns/refs/heads/master/charts/external-dns/values.schema.json
sources:
  - gateway-httproute
  - gateway-tlsroute
  - ingress
  - crd
serviceMonitor:
  enabled: true
provider:
  name: webhook
  webhook:
    image:
      repository: ghcr.io/beryju/gravity-external-dns
      tag: v0.28.7
    securityContext:
      runAsNonRoot: true
      runAsUser: 65534
      runAsGroup: 65534
      allowPrivilegeEscalation: false
    env:
      - name: GRAVITY_URL
        value: http://gravity-http.gravity:8008/
      - name: GRAVITY_TOKEN
        valueFrom:
          secretKeyRef:
            name: gravity
            key: ADMIN_TOKEN
