MONITOR {{ home_ops_nut_monitor_system }} {{ home_ops_nut_monitor_power_value }} {{ home_ops_nut_monitor_user }} {{ home_ops_nut_monitor_password }} {{ home_ops_nut_monitor_type }}
MINSUPPLIES {{ home_ops_nut_minsupplies }}
SHUTDOWNCMD "{{ home_ops_nut_shutdowncmd }}"
POLLFREQ {{ home_ops_nut_pollfreq }}
POLLFREQALERT {{ home_ops_nut_pollfreqalert }}
HOSTSYNC {{ home_ops_nut_hostsync }}
DEADTIME {{ home_ops_nut_deadtime }}
POWERDOWNFLAG {{ home_ops_nut_powerdownflag }}
RBWARNTIME {{ home_ops_nut_rbwarntime }}
NOCOMMWARNTIME {{ home_ops_nut_nocommwarntime }}
FINALDELAY {{ home_ops_nut_finaldelay }}
