---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1 
kind: Kustomization
namespace: external-dns
components:
  - ../../components/namespace
resources:
  - https://raw.githubusercontent.com/kubernetes-sigs/external-dns/refs/tags/v0.19.0/charts/external-dns/crds/dnsendpoints.externaldns.k8s.io.yaml
  - manifests/externalsecret.yaml
  - manifests/namespace.yaml
  - manifests/dnsendpoint.yaml
helmCharts:
  - name: external-dns
    repo: https://kubernetes-sigs.github.io/external-dns/
    version: 1.18.0
    releaseName: external-dns
    namespace: external-dns
    valuesFile: manifests/values.yaml
