---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/gateway.networking.k8s.io/httproute_v1.json
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: zwave-https
  namespace: hass
spec:
  parentRefs:
  - name: mgmt-gateway
    namespace: default
  hostnames:
  - "zwave.mgmt.sholdee.net"
  rules:
  - backendRefs:
    - name: zwave
      namespace: hass
      port: 8091
