apiVersion: batch/v1
kind: CronJob
metadata:
  name: renovate
spec:
  schedule: '@hourly' 
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      ttlSecondsAfterFinished: 10800
      template:
        spec:
          securityContext:
            runAsUser: 65534
            runAsGroup: 65534
            fsGroup: 65534
            runAsNonRoot: true
            seccompProfile:
              type: RuntimeDefault
          initContainers:
            - name: generate-token
              image: ghcr.io/mshekow/github-app-installation-token:2025.10.28
              command:
                - /bin/sh
                - -c
                - |
                  export APP_ID=$(cat /github-secrets/app-id)
                  export INSTALLATION_ID=57693311
                  export API_URL="https://api.github.com"
                  node /app/index.js "$APP_ID" "$INSTALLATION_ID" "/github-secrets/private-key" "$API_URL" > /token-volume/install-token
              volumeMounts:
                - name: github-secrets
                  mountPath: /github-secrets
                - name: token-volume
                  mountPath: /token-volume
              securityContext:
                allowPrivilegeEscalation: false
                capabilities:
                  drop:
                    - ALL
          containers:
            - name: renovate
              image: renovate/renovate:41.164.1
              command:
                - /bin/sh
                - -c
                - |
                  export RENOVATE_TOKEN=$(cat /token-volume/install-token)
                  export GITHUB_COM_TOKEN=$RENOVATE_TOKEN
                  /usr/local/sbin/renovate-entrypoint.sh sholdee/docker-compose sholdee/caddy-proxy-cloudflare sholdee/adguard-exporter
              env:
                - name: LOG_LEVEL
                  value: 'debug'
                - name: RENOVATE_AUTODISCOVER
                  value: 'false'
                - name: RENOVATE_ENDPOINT
                  value: 'https://api.github.com/'
                - name: RENOVATE_PLATFORM
                  value: 'github'
                - name: RENOVATE_CONFIG_FILE
                  value: /usr/src/app/config.js
                - name: RENOVATE_DOCKER_USERNAME
                  valueFrom:
                    secretKeyRef:
                      name: dockerhub-credentials
                      key: username
                - name: RENOVATE_DOCKER_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: dockerhub-credentials
                      key: password
              volumeMounts:
                - name: token-volume
                  mountPath: /token-volume
                - name: renovate-cache
                  mountPath: /tmp/renovate
                - name: renovate-config
                  mountPath: /usr/src/app/config.js
                  subPath: config.js
              resources:
                requests:
                  memory: 600Mi
                  cpu: 400m
                limits:
                  memory: 600Mi
                  cpu: 400m
              securityContext:
                allowPrivilegeEscalation: false
                capabilities:
                  drop:
                    - ALL
          volumes:
            - name: github-secrets
              secret:
                secretName: github-app-credentials
            - name: token-volume
              emptyDir: {}
            - name: renovate-cache
              persistentVolumeClaim:
                claimName: renovate-cache
            - name: renovate-config
              configMap:
                name: renovate-config
          restartPolicy: Never
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: renovate-trim
spec:
  schedule: "30 2 * * *"
  jobTemplate:
    spec:
      ttlSecondsAfterFinished: 86400
      template:
        spec:
          containers:
            - name: renovate-trim
              image: ghcr.io/openebs/linux-utils:4.2.0
              command:
                - /bin/sh
                - -c
                - |
                  fstrim -v /mnt/renovate-cache
              volumeMounts:
                - name: renovate-cache
                  mountPath: /mnt/renovate-cache
              securityContext:
                privileged: true
          restartPolicy: Never
          volumes:
            - name: renovate-cache
              persistentVolumeClaim:
                claimName: renovate-cache
