---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1 
kind: Kustomization
resources:
  - manifests/mgmt-gateway.yaml
  - manifests/mgmt-gateway-envoy.yaml
  - manifests/external-gateway.yaml
  - manifests/guest-gateway.yaml
