---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1 
kind: Kustomization
namespace: adguard
components:
  - ../../components/namespace
resources:
  - manifests/namespace.yaml
  - manifests/deployment.yaml
  - manifests/service.yaml
  - manifests/httproute.yaml
  - manifests/externalsecret.yaml
  - manifests/servicemonitor.yaml
