---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/gateway.networking.k8s.io/httproute_v1.json
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: hass
  namespace: hass
spec:
  parentRefs:
  - name: mgmt-gateway
    namespace: gateway
  hostnames:
  - hass.mgmt.sholdee.net
  rules:
  - backendRefs:
    - name: hass
      namespace: hass
      port: 8123
