config:
  envoyGateway:
    extensionApis:
      enableEnvoyPatchPolicy: true
podDisruptionBudget:
  minAvailable: 1
deployment:
  replicas: 3
  envoyGateway:
    resources:
      limits:
        cpu: 100m
        memory: 150Mi
      requests:
        cpu: 10m
        memory: 150Mi
  pod:
    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: DoNotSchedule
        labelSelector:
          matchLabels:
            control-plane: envoy-gateway
