---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: vernemq-env
  namespace: hass
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: vernemq-env
    template:
      engineVersion: v2
      data:
        DOCKER_VERNEMQ_USER_ADMIN: "{{ .ADMIN_PWD }}"
        DOCKER_VERNEMQ_ACCEPT_EULA: "yes"
        DOCKER_VERNEMQ_DISCOVERY_KUBERNETES: "1"
        DOCKER_VERNEMQ_KUBERNETES_LABEL_SELECTOR: "app.kubernetes.io/name=vernemq"
        DOCKER_VERNEMQ_LEVELDB__MAXIMUM_MEMORY: "104857600"
        DOCKER_VERNEMQ_LEVELDB__WRITE_BUFFER_SIZE_MIN: "2097152"
        DOCKER_VERNEMQ_LEVELDB__WRITE_BUFFER_SIZE_MAX: "4194304"
        DOCKER_VERNEMQ_LISTENER__TCP__PROXY_MQTT: "0.0.0.0:1884"
        DOCKER_VERNEMQ_LISTENER__TCP__PROXY_MQTT__PROXY_PROTOCOL: "on"
  dataFrom:
    - extract:
        key: vernemq
