---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/gateway.networking.k8s.io/httproute_v1.json
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: vernemq
  namespace: hass
spec:
  parentRefs:
  - name: envoy-gateway
    namespace: gateway
  hostnames:
  - vmq.mgmt.sholdee.net
  rules:
  - matches:
    - path:
        type: Exact
        value: /
    filters:
    - type: URLRewrite
      urlRewrite:
        path:
          type: ReplaceFullPath
          replaceFullPath: /status
    backendRefs:
    - name: vernemq-headless
      namespace: hass
      port: 8888
  - backendRefs:
    - name: vernemq-headless
      namespace: hass
      port: 8888
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/gateway.envoyproxy.io/backendtrafficpolicy_v1alpha1.json
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: BackendTrafficPolicy
metadata:
  name: vernemq-lb-policy
  namespace: hass
spec:
  targetRefs:
    - group: gateway.networking.k8s.io
      kind: HTTPRoute
      name: vernemq
  loadBalancer:
    type: ConsistentHash
    consistentHash:
      type: SourceIP
