---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/gateway.networking.k8s.io/httproute_v1.json
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: vernemq
  namespace: hass
spec:
  parentRefs:
  - name: envoy-gateway
    namespace: default
  hostnames:
  - vmq.mgmt.sholdee.net
  rules:
  - backendRefs:
    - name: vernemq-headless
      namespace: hass
      port: 8888
