replicaCount: 3
podAntiAffinity: "none"
serviceMonitor:
  create: true
service:
  type: ClusterIP
envFrom:
  - configMapRef:
      name: vernemq-config
  - secretRef:
      name: vernemq-secret
statefulset:
  annotations:
    reloader.stakater.com/auto: "true"
  livenessProbe:
    initialDelaySeconds: 0
    periodSeconds: 10
    timeoutSeconds: 5
    successThreshold: 1
    failureThreshold: 3
  readinessProbe:
    initialDelaySeconds: 0
    periodSeconds: 10
    timeoutSeconds: 5
    successThreshold: 1
    failureThreshold: 3
pdb:
  enabled: true
  minAvailable: 1
resources:
  limits:
    cpu: 500m
    memory: 450Mi
  requests:
    cpu: 150m
    memory: 450Mi
acl:
  enabled: true
  content: |-
    user admin
    topic read #
    topic write #
    user sei12
    topic read linux/sei12/#
    topic write linux/sei12/#
    topic read homeassistant/sensor/linux/sei12_#
    topic write homeassistant/sensor/linux/sei12_#
