upgradeCRDs: true
snapshotsEnabled: false
credentials:
  existingSecret: cloud-credentials

configuration:
  backupStorageLocation:
    - name: default
      provider: aws
      bucket: sholdee-velero
      default: true
      config:
        region: us-west-002
        s3ForcePathStyle: true
        s3Url: https://s3.us-west-002.backblazeb2.com
        checksumAlgorithm: ""

initContainers:
  - name: velero-plugin-for-aws
    image: velero/velero-plugin-for-aws:v1.13.1
    imagePullPolicy: IfNotPresent
    volumeMounts:
      - mountPath: /target
        name: plugins
schedules:
  k3s-backup-schedule:
    disabled: false
    schedule: "0 2 * * *"
    useOwnerReferencesInBackup: true
    template:
      storageLocation: default
      excludedResources:
        - persistentvolumes
        - persistentvolumeclaims
        - backuptargets.longhorn.io
        - backupvolumes.longhorn.io
        - backups.longhorn.io
        - nodes.longhorn.io
        - volumes.longhorn.io
        - engines.longhorn.io
        - replicas.longhorn.io
        - backingimagedatasources.longhorn.io
        - backingimagemanagers.longhorn.io
        - backingimages.longhorn.io
        - sharemanagers.longhorn.io
        - instancemanagers.longhorn.io
        - engineimages.longhorn.io
metrics:
  serviceMonitor:
    enabled: true
  prometheusRule:
    enabled: true
    spec:
     - alert: VeleroBackupPartialFailures
       annotations:
         message: Velero backup {{ $labels.schedule }} has {{ $value | humanizePercentage }} partialy failed backups.
       expr: |-
         velero_backup_partial_failure_total{schedule!=""} / velero_backup_attempt_total{schedule!=""} > 0.25
       for: 15m
       labels:
         severity: warning
     - alert: VeleroBackupFailures
       annotations:
         message: Velero backup {{ $labels.schedule }} has {{ $value | humanizePercentage }} failed backups.
       expr: |-
         velero_backup_failure_total{schedule!=""} / velero_backup_attempt_total{schedule!=""} > 0.25
       for: 15m
       labels:
         severity: warning
