---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/gateway.networking.k8s.io/httproute_v1.json
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: unifi-guest
  namespace: unifi
spec:
  parentRefs:
  - name: guest-gateway
    namespace: default
  hostnames:
  - "unifi.guest.sholdee.net"
  rules:
  - backendRefs:
    - name: unifi-landing
      port: 80
      kind: Service
