---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: &name hass-db2
  namespace: hass
  annotations:
    cnpg.io/skipEmptyWalArchiveCheck: enabled
spec:
  instances: 3
  imageCatalogRef:
    apiGroup: postgresql.cnpg.io
    kind: ClusterImageCatalog
    name: postgresql
    major: 18
  primaryUpdateMethod: switchover
  primaryUpdateStrategy: unsupervised
  superuserSecret:
    name: hass-db-superuser
  storage:
    storageClass: longhorn-noreplicas
    size: 7Gi
  monitoring:
    enablePodMonitor: true
  bootstrap:
    recovery:
      source: &src barman-cloud
      database: hass
      owner: &user hass
      secret:
        name: &secret hass-db-app-user
#   initdb:
#     database: hass
#     owner: hass
#     secret:
#       name: hass-db-app-user
#     dataChecksums: true
#     encoding: 'UTF8'
  plugins:
    - name: &plugin barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters:
        barmanObjectName: &store cnpg-hass-b2
  externalClusters:
    - name: *src
      plugin:
        name: *plugin
        parameters:
          barmanObjectName: *store
          serverName: *name
  managed:
    roles:
      - name: *user
        ensure: present
        login: true
        superuser: false
        passwordSecret:
          name: *secret
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/postgresql.cnpg.io/database_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Database
metadata:
  name: hass
  namespace: hass
spec:
  cluster:
    name: hass-db2
  name: hass
  owner: hass
  ensure: present
  encoding: 'UTF8'
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/postgresql.cnpg.io/scheduledbackup_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: ScheduledBackup
metadata:
  name:  hass-db2-backup-schedule
  namespace: hass
spec:
  cluster:
    name: hass-db2
  schedule: "0 0 0 * * *"
  backupOwnerReference: self
  method: plugin
  pluginConfiguration:
    name: barman-cloud.cloudnative-pg.io
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/postgresql.cnpg.io/pooler_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Pooler
metadata:
  name: hass-db-pooler-rw
  namespace: hass
spec:
  cluster:
    name: hass-db2
  instances: 3
  type: rw
  pgbouncer:
    poolMode: transaction
    parameters:
      max_client_conn: "1000"
      default_pool_size: "10"
  monitoring:
    enablePodMonitor: true
  template:
    metadata:
      labels:
        app: pooler
    spec:
      containers: []
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - pooler
            topologyKey: "kubernetes.io/hostname"
