---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1 
kind: Kustomization
namespace: longhorn-system
components:
  - ../../components/namespace
resources:
  - manifests/externalsecret.yaml
  - manifests/httproute.yaml
  - manifests/netpol.yaml
  - manifests/recurringjob.yaml
  - manifests/storageclass.yaml
  - manifests/volumesnapshotclass.yaml
