---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: hivemq
components:
  - ../../components/namespace
resources:
  - manifests/platform.yaml
  - manifests/configmap.yaml
  - manifests/file-rbac-configmap.yaml
  - manifests/externalsecret.yaml
  - manifests/netpol.yaml
  - manifests/podmonitor.yaml
  - manifests/httproute.yaml
  - manifests/tcproute.yaml
helmCharts:
  - name: hivemq-platform-operator
    repo: https://hivemq.github.io/helm-charts
    version: 0.2.20
    releaseName: hivemq-operator
    namespace: hivemq
    valuesInline:
      javaOpts: >-
        -XX:+UnlockExperimentalVMOptions
        -Xms128m
        -Xmx256m
        -XX:MaxDirectMemorySize=128m
        -XX:MaxMetaspaceSize=128m
        -XX:+ExitOnOutOfMemoryError
patches:
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: hivemq-hivemq-operator
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: hivemq-hivemq-operator
      spec:
        template:
          spec:
            containers:
              - name: hivemq-platform-operator
                resources:
                  limits: null
                  requests:
                    cpu: 100m
                    memory: 768Mi
