---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1 
kind: Kustomization
namespace: argocd
components:
  - ../../components/namespace
resources:
  - manifests/apps.yaml
  - manifests/app-project.yaml
  - manifests/app-set.yaml
  - manifests/repos.yaml
  - manifests/httproute.yaml
  - manifests/cilium-preflight.yaml
  - manifests/namespace.yaml
  - manifests/netpol.yaml
  - manifests/externalsecret.yaml
helmCharts:
  - name: argo-cd
    repo: https://argoproj.github.io/argo-helm
    version: 9.4.0
    releaseName: argocd
    namespace: argocd
    valuesFile: manifests/values.yaml
